.mat-row {
    height: auto;
}

table {
    min-width: 80%;
}

th.mat-header-cell {
    text-align: center !important;
    padding: 2% 0;
}

td.mat-cell {
    text-align: center !important;
    padding: 1% 0;
}

th.mat-sort-header-sorted {
    color: black;
}

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
}

.green {
    color: green;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}