<div class="centering margins">
    <table mat-table [dataSource]="dataSource" matSort class="animate mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let practitioner">
                <div *ngIf="practitioner.id; else elseBlock">Has ID</div>
                <ng-template #elseBlock>No ID</ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let practitioner"> 
                <span *ngIf="practitioner.name[0].prefix">
                    {{ practitioner.name[0].prefix + " "}}
                </span>
                {{ practitioner.name[0].given + " " + practitioner.name[0].family }}
            </td>
        </ng-container>

        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
            <td mat-cell *matCellDef="let practitioner">
                {{ practitioner.gender }}
            </td>
        </ng-container>

        <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Birthdate </th>
            <td mat-cell *matCellDef="let practitioner"> 
                {{ practitioner.birthDate }}
            </td>
        </ng-container>

        <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef> Contact </th>
            <td mat-cell *matCellDef="let practitioner">
                <span *ngIf="practitioner.telecom">
                    {{ practitioner.telecom[0].system + " " + practitioner.telecom[0].use + " " + practitioner.telecom[0].value }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let practitioner">
                <span *ngIf="practitioner.address">
                    {{ practitioner.address[0].city }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
            <td mat-cell *matCellDef="let practitioner"> {{ practitioner.active }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let practitioner">
                <button mat-raised-button color="primary" (click)="openAddDialog(practitioner)">Edit</button>
                <button mat-raised-button class="button-space" color="warn" (click)="openDeleteDialog(practitioner)">Delete</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div class="centering margins">
    <button mat-raised-button color="accent" (click)="openAddDialog()">Add Practitioner</button>
    <button mat-raised-button class="button-space" color="accent" (click)="addDummyPractitioner()">Add Dummy Practitioner</button>
</div>