<div class="centering margins">
    <mat-card class="about-width">
      <mat-card-content>
          <h2>FHIR Practitioner</h2>
          <h3>A person who is directly or indirectly involved in the provisioning of healthcare.</h3>
          <span>
            Practitioner covers all individuals who are engaged in the healthcare process and healthcare-related services as part of their formal responsibilities and this Resource is used for attribution of activities and responsibilities to these individuals. Practitioners include (but are not limited to):
          </span>
          <mat-list>
            <mat-list-item> physicians, dentists, pharmacists </mat-list-item>
            <mat-list-item> physician assistants, nurses, scribes </mat-list-item>
            <mat-list-item> midwives, dietitians, therapists, optometrists, paramedics </mat-list-item>
            <mat-list-item>  medical technicians, laboratory scientists, prosthetic technicians, radiographers </mat-list-item>
            <mat-list-item> social workers, professional homecare providers, official volunteers </mat-list-item>
            <mat-list-item> receptionists handling patient registration </mat-list-item>
            <mat-list-item> IT personnel merging or unmerging patient records </mat-list-item>
            <mat-list-item> Service animal (e.g., ward assigned dog capable of detecting cancer in patients) </mat-list-item>
           </mat-list>
      </mat-card-content>
    </mat-card>
  </div>