<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Practitioner Registry</span>
    <button mat-button class="button-space" [routerLink]="[ '/home' ]">Home</button>
    <button mat-button class="button-space"[routerLink]="[ '/about' ]">About</button>
    <button mat-button mat-button *ngIf="loginState" class="button-space"[routerLink]="[ '/dashboard' ]">Dashboard</button>
    <span class="spacer"></span>
    <button mat-button *ngIf="!loginState" [routerLink]="[ '/sign-in' ]">Sign in</button>
    <button mat-button *ngIf="loginState" (click)="logout()">Sign out</button>
  </mat-toolbar-row>
</mat-toolbar>