@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: lightgray;
}

h1 {
  text-align: center;
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
  height: stretch;
}

.button-space {
  margin-left: 35px !important;
}

.max-width {
  width: 100%;
}

.margins {
  margin-top: 2%;
  margin-bottom: 3%;
}